run = "npm run dev"
modules = ["nodejs-20", "postgresql-16"]
hidden = [".config", "tsconfig.json", "tsconfig.node.json", "vite.config.js", ".gitignore"]
entrypoint = "src/App.tsx"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Start Backend API"
author = 44498628
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/api.js"

[[workflows.workflow]]
name = "Run"
author = 44498628
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/api.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Frontend"
author = 44498628
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
